[Desktop Entry]
#Encoding=UTF-8
Name=Bomns for Linux
Comment=The Bomb, with an N!
Exec=bomnslauncher
Icon=bomns
Type=Application
Categories=Game;ArcadeGame;GTK;
